/dist-electron/SpeakEasy[[:space:]]0.1.0.exe filter=lfs diff=lfs merge=lfs -text
/dist-electron/SpeakEasy[[:space:]]Setup[[:space:]]0.1.0.exe filter=lfs diff=lfs merge=lfs -text
/dist-electron/win-unpacked/SpeakEasy.exe filter=lfs diff=lfs merge=lfs -text
